# Firebase конфиг с ключами
firebase-config.js

# Системные файлы
.DS_Store
Thumbs.db
desktop.ini

# Логи
*.log

# Зависимости
node_modules/

# Сборки
dist/
build/
out/

# Настройки IDE
.vscode/
.idea/
